#graphs
  .section-container.auto{"data-section" => ""}
    %section.active
      %p.title{"data-section-title" => ""}
        %a{href: "#panel1"} 
          %b Virement mensuels
      .content{"data-section-content" => ""}
        .row
          .small-11.offset-1.columns
            = content_tag :div, "", id: "annual2013" ,data: {lst2013: @liste2013 }
            = content_tag :div, "", id: "annual2012" ,data: {lst2012: @liste2012 }
            = content_tag :div, "", id: "annual2011" ,data: {lst2011: @liste2011 }
            = content_tag :div, "", id: "annual2010" ,data: {lst2010: @liste2010 }
            = content_tag :div, "", id: "ca_cabinet" ,data: {ca: @ca_cabinet }
            #container{style: "width:100%; height:500px;"}
    %section
      %p.title{"data-section-title" => ""}
        %a{href: "#panel2"}
          %b Chiffre d'affaire
      .content{"data-section-content" => ""}
        #container2{style: "width:100%; height:500px;"}
    %section
      %p.title{"data-section-title" => ""}
        %a{href: "#panel3"}
          %b ?
      .content{"data-section-content" => ""}
        %h4 Plus tard il y aura des trucs super interessants ici !
        #container3{style: "width:100%; height:500px;"}